<p id="notice"><%= notice %></p>
<%# render 'datepicker' %>

<ul class="nav nav-tabs">
  <li class="<%= 'active' if current_page?(trips_path) %>"><%= link_to "Trips", trips_path %></li>
  <li><%= link_to "System", '#' %></li>
  <li><%= link_to "Stations", '#' %></li>
  <li><%= link_to "Time", '#' %></li>
</ul>

<div id="main-content" class="panel panel-default">
  <div class="panel-body">
    <%= render 'cities' %>

    <h1 id="chart-title"></h1>
    <div id="chart" class="chart"></div>
  </div>
</div>

<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
